# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.swp
*.swo
*.log

# Virtual environments
.venv/
venv/
env/

# Pytest cache
.cache/
.pytest_cache/

# Allure results & reports (генерується в CI)
allure-results/
allure-report/

# Coverage reports
htmlcov/
*.coverage
*.cover
*.cov
*.gcov

# IDE / Editors
.idea/
.vscode/
*.iml

# Docker
*.pid
*.seed
*.pid.lock

# OS
.DS_Store
Thumbs.db
