services:
  regression:
    build:
      context: .
      dockerfile: Dockerfile

    working_dir: /usr/workspace

    volumes:
      - ./:/usr/workspace

    shm_size: "1gb"

    environment:
      - LOGIN=${LOGIN}
      - PASSWORD=${PASSWORD}

    command: /bin/sh -c pytest --alluredir=allure-results